{{template "header" .}}
<div class="pr-10 pl-10 pb-10">
  <img src="https://cdn.freebiesupply.com/images/large/2x/dallas-cowboys-logo-transparent.png" alt="Cowboys logo" class="mx-auto w-36 h-36 rounded-full">
	<h1 class="text-center text-2xl font-bold mt-4">
		David Hinojosa
	</h1>
	<div class="flex justify-center mt-6">
		<div class="flex-1 text-center">
			<p class="text-lg font-bold">Points</p>
			<p class="mt-2 font-bold text-blue-400">320</p>
		</div>
		<div class="flex-1 text-center">
			<p class="text-lg font-bold">Rank</p>
			<p class="mt-2 font-bold text-blue-400">2</p>
		</div>
	</div>

	<div class="mt-8 flex flex-col space-y-4">
		<button class="btn btn-primary">Stats</button>
		<button class="btn btn-primary">Pick History</button>
		<button class="btn btn-primary">Settings</button>
	</div>
</div>
{{template "footer" .}}
