{{define "footer-map"}}
</body>
    <script src="/static/js/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script id="script-map">
        function initMap() {
            {{with .Route}}
                var origin = {lat: {{.Start.Lat}}, lng: {{.Start.Lng}}};
                var destination = {lat: {{.End.Lat}}, lng: {{.End.Lng}}};

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: origin
                });

                var directionsService = new google.maps.DirectionsService();
                var directionsRenderer = new google.maps.DirectionsRenderer({ map: map });

                directionsService.route({
                    origin: origin,
                    destination: destination,
                    // waypoints: [
                    // {
                    // location: 'Avenida Junco de la Vega',
                    // stopover: false
                    // },{
                    // location: 'Avenida Luis Elizondo',
                    // stopover: false
                    // },{
                    // location: 'Calle Río Nazas',
                    // stopover: false 
                    // }],
                    travelMode: 'DRIVING',
                }, function(response, status) {
                    if (status === 'OK') {
                        directionsRenderer.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            {{end}}
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{.MapsAPI}}&callback=initMap" async defer></script>
</html>
{{end}}

{{define "map-render"}}
	<div id="map" class="w-full h-96"></div>
{{end}}
