{{define "report-form"}}
  <form hx-post='/report' hx-swap="none">
    <div>
      <input type='hidden' name='report-location' id='report-location' value=''>       
    </div>
    <div>
      <input class="btn btn-primary" type='submit' value='Report'>
    </div>
  </form>

  <script>
    var locLat = localStorage.getItem("currentLat")
    var locLng = localStorage.getItem("currentLng")
    var pos = [locLat, locLng]
    document.getElementById('report-location').value = pos;
  </script> 

{{end}}
