{{define "report-form"}}
<div class="p-8 rounded-lg w-96">
  <form action='/report' method='POST'>
    
    <div class="mb-4">
      <label for="report-type" class="block mb-2">Report Type:</label>
      <input class="input input-bordered w-full" type='text' name='report-type' id='report-type'>        
    </div>

    <div class="mb-4">
      <label for="report-description" class="block mb-2">Report Description:</label>
      <input class="input input-bordered w-full" type='text' name='report-description' id='report-description'>        
    </div>

    <div>
      <input class="btn btn-primary" type='submit' value='Report'>
    </div>
    
  </form>
</div>

{{end}}
