{{define "place-form"}}
<div class="z-20">
  <form action='/route'method='POST'>
      <div class="flex flex-row w-full z-20">
        <div class="form-control z-20">
          <input type="text" placeholder="Search" class="input input-bordered w-full" />
        </div>
        <button class="btn border-transparent" type='submit' value='Search'>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-8 h-8">
            <path strokeLinecap="round" strokeLinejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
          
        </button>
      </div>
  </form>
</div>
{{end}}
